.env

*.csv
*.json
*.pkl

__pycache__/
data/
temp/
venv/
*.ipynb

etl/presupuesto/dimensions/
etl/datasets/minsa_health_y_gender_age_nat_pipeline.py
etl/datasets/met_education_y_level_dep_pipeline.py
etl/datasets/healthcare_attention.py
